@charset "UTF-8";
@import url("results.css");
@import url("index.css");

html {
    scroll-behavior: smooth;
}

.content {
    text-align: center;
    padding: 1px 16px;
    height: 100%;
}

.mylogo {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(19, 52, 90); /* Navy */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

#user-full {
    width: 55px;
    height: 55px;
    background-color: rgb(255, 145, 0);
    border-radius: 30px;
    color: white;
    font-size: 33px;
    border: none;
    outline: none;
    align-content: center;
    padding-bottom: 1px;
    cursor: default;
}

.user-full {
    display: block;
    padding: 25px 7px 25px 20px;
    text-decoration: none;
    border-bottom: none;
    color: white;
    font-size: 25px;
}

/* The sidepanel links */
.sidepanel a {
    padding: 15px 15px;
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.05s;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    background-color: rgb(39, 82, 133);
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
    border-bottom: none;
    border-top: none;
}

.sidepanel .closebtn:hover {
    background-color: rgb(19, 52, 90);
    opacity: 0.5;
}

.sidepanel .logout {
    position: absolute;
    bottom: 15px;
    left:10px;
    font-size: 20px;
    border-bottom: none;
    border-top: none;
}

.sidepanel .logout:hover {
    background-color: rgb(19, 52, 90);
    opacity: 0.6;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    cursor: default;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 78px;
    background-color: rgb(19, 52, 90);
    position: fixed;
    height: 100%;
    overflow: auto;
    align-content: center;
}

#user {
    width: 55px;
    height: 55px;
    background-color: rgb(255, 145, 0);
    border-radius: 30px;
    color: white;
    font-size: 33px;
    border: none;
    outline: none;
    align-content: center;
    padding-bottom: 1px;
    cursor: default;
}

.user {
    display: block;
    padding: 30px 7px 5px 11px;
    text-decoration: none;
    border-bottom: none;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: white;
    padding: 15px 16px;
    text-decoration: none;
    border-bottom: 1px solid white;
}

/* Links on mouse-over */
.sidebar a:hover {
    background-color: rgb(39, 82, 133);
    color: white;
}

/* Style the button that is used to open the sidepanel */
.sidebar .openbtn {
    font-size: 37px;
    cursor: pointer;
    color: white;
    margin-left: 4px;
}

.sidebar .openbtn:hover {
    background-color: rgb(19, 52, 90);
    opacity: 0.8;
}