{% extends "base.html" %}

{% block content %}

<img src="images/logo.png" alt="logo">

<form method="POST">
{{ form.csrf_token }}
{{ form.faculty }}
{{ form.building }}
{{ form.time }}
<input type="submit">
</form>

<script>
    var faculty_select = document.getElementById("faculty");
    var building_select = document.getElementById("building");

    faculty_select.onchange = function()  {

        faculty = faculty_select.value;

        fetch('/building/' + faculty).then(function(response) {

            response.json().then(function(data) {
                var optionHTML = '';

                for (var building of data.cities) {
                    optionHTML += '<option value="' + building.id + '">' + building.name + '</option>';
                }

                building_select.innerHTML = optionHTML;
            })

        });
    }
</script>
{% endblock %}